.cth_redWiggle {
    display: inline-block;
    position: relative;
    background: url(../img/wavy-underline.gif) bottom repeat-x;
}

#contextMenu {
    position: absolute;
    display: none;
}

.cth-hidden-source {
    display: none;
}

.cth-hidden-target {
    display: none;
}

.cth-meta-hidden {
    display: none;
}
.cth-meta-hidden-br {
    display: none;
}
.cth-meta-added-spacing {
    margin-top: 10px;
}
.diffInserted {
    color: black;
    background-color: #ccffcc;
}

.diffDeleted:not(:hover){
    color: black;
    background-color: #ffcccc;
    text-decoration: line-through !important;
}

.diffDeleted:hover {
    color: black;
    background-color: #ffcccc;
    text-decoration: none;
}